@import "https://fonts.googleapis.com/css?family=Oswald:300";
* {
  margin: 0;
  border: 0;
  display: block;
  overflow: hidden; }

title {
  display: none; }

span {
  float: left;
  font-weight: bold;
  margin-right: 5px; }

#container {
  width: 100%;
  height: 100vh; }
  #container #sub {
    display: none; }
    #container #sub.opn {
      animation-name: other;
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
      -webkit-animation: others 0.5s;
      animation-fill-mode: forwards;
      display: block; }
  #container.lilo {
    background-color: #570008; }
    #container.lilo .men {
      background-size: cover;
      background-position: center center;
      width: 20%;
      height: 100vh;
      background-image: url("../images/lina.jpg");
      position: relative; }
      #container.lilo .men .cont {
        position: absolute;
        transform: translateY(-50%);
        top: 30%;
        width: 100%;
        font-family: Oswald;
        color: #000;
        text-align: center;
        transition: 0.5s; }
        #container.lilo .men .cont h1 {
          font-weight: lighter;
          background-color: rgba(255, 255, 255, 0.8); }
        #container.lilo .men .cont p {
          opacity: 0;
          transition: 0.5s;
          width: 80%;
          margin: auto;
          text-align: center; }
        #container.lilo .men .cont h4 {
          display: block;
          height: 3em;
          line-height: 3em;
          background-color: rgba(0, 0, 0, 0.8);
          margin-top: 5px;
          font-size: 20px;
          color: #Fff;
          font-weight: lighter;
          margin: 10px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
    #container.lilo #social {
      width: 50%;
      margin: auto; }
      #container.lilo #social a {
        float: left;
        float: left;
        max-width: 50%;
        text-align: center; }
      #container.lilo #social img {
        max-width: 80%;
        margin: auto;
        transition: 0.5s;
        cursor: pointer; }
        #container.lilo #social img:hover {
          transition: 0.5s;
          max-width: 85%; }
  #container .m-text-box {
    background-color: #75A5D8;
    max-width: 20vw;
    float: left;
    padding: 20px;
    margin: 10px;
    min-height: 200px; }
    #container .m-text-box h2 {
      margin-bottom: 10px;
      color: #1F5484;
      font-family: Oswald; }
  #container.lilo-me {
    background-color: #f4f5fd; }
    #container.lilo-me .texts {
      max-width: 90%;
      margin: auto; }
    #container.lilo-me iframe {
      width: 60%;
      height: 30vw;
      margin: 20px;
      float: left; }
    #container.lilo-me .text-box {
      color: #CF62A5;
      margin: auto;
      max-width: 80%;
      margin-top: 20px;
      background-color: transparent;
      font-size: 18px; }
    #container.lilo-me .title {
      color: #000;
      border-bottom: 2px solid #000; }
    #container.lilo-me .men {
      background-size: cover;
      background-position: center center;
      width: 20%;
      height: 100vh;
      background-image: url("../images/me.jpg");
      position: relative; }
      #container.lilo-me .men .cont {
        position: absolute;
        transform: translateY(-50%);
        top: 30%;
        width: 100%;
        font-family: Oswald;
        color: #000;
        text-align: center;
        transition: 0.5s; }
        #container.lilo-me .men .cont h1 {
          font-weight: lighter;
          background-color: rgba(255, 255, 255, 0.8); }
        #container.lilo-me .men .cont p {
          opacity: 0;
          transition: 0.5s;
          width: 80%;
          margin: auto;
          text-align: center; }
        #container.lilo-me .men .cont h4 {
          display: block;
          height: 3em;
          line-height: 3em;
          background-color: rgba(221, 165, 203, 0.8);
          margin-top: 5px;
          font-size: 20px;
          color: #000;
          font-weight: lighter;
          margin: 10px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
    #container.lilo-me #social {
      width: 50%;
      margin: auto; }
      #container.lilo-me #social a {
        float: left;
        float: left;
        max-width: 50%;
        text-align: center; }
      #container.lilo-me #social img {
        max-width: 80%;
        margin: auto;
        transition: 0.5s;
        cursor: pointer; }
        #container.lilo-me #social img:hover {
          transition: 0.5s;
          max-width: 85%; }

canvas {
  display: none;
  width: 100%;
  height: 100vh; }

.sec {
  height: 100%;
  width: calc(100%/3);
  float: left;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: block;
  transition: 0.5s; }
  .sec.opn {
    width: 100%;
    height: 100vh;
    transition: 0.5s;
    background-image: 0;
    z-index: 99; }
    .sec.opn .men {
      height: 100vh;
      width: calc(100vw/3);
      float: left;
      background-size: cover;
      background-position: center center;
      position: relative;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
      -webkit-animation: move 0.5s;
      animation-fill-mode: forwards; }
      .sec.opn .men .cont {
        display: block;
        top: 30%; }
        .sec.opn .men .cont p {
          display: none; }
    .sec.opn .cont {
      display: none; }
  .sec .cont {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    font-family: Oswald;
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    height: 3em;
    transition: 0.5s; }
    .sec .cont h1 {
      font-weight: lighter; }
    .sec .cont p {
      opacity: 0;
      transition: 0.5s;
      width: 80%;
      margin: auto;
      text-align: center; }
  .sec:hover .cont {
    transition: 0.5s;
    height: 8em; }
  .sec:hover .cont p {
    opacity: 1; }
  .sec.opn:hover .cont {
    transition: 0.5s;
    height: 3em; }
  .sec#lilo-me {
    background-image: url("../images/me.jpg"); }
    .sec#lilo-me:hover {
      background-image: url("../images/me.gif"); }
    .sec#lilo-me.opn {
      background-image: none;
      background-color: #f4f5fd; }
    .sec#lilo-me.opn:hover {
      background-image: none; }
    .sec#lilo-me .men {
      background-image: url("../images/me.jpg"); }
  .sec#lilo-kids {
    background-image: url("../images/kids.jpg"); }
    .sec#lilo-kids:hover {
      background-image: url("../images/kids.gif"); }
    .sec#lilo-kids.opn {
      background-image: none;
      background-color: #fff; }
    .sec#lilo-kids.opn:hover {
      background-image: none; }
    .sec#lilo-kids .men {
      background-image: url("../images/kids.jpg"); }
  .sec#lina-lopes {
    background-image: url("../images/lina.jpg"); }
    .sec#lina-lopes:hover {
      background-image: url("../images/lina.gif"); }
    .sec#lina-lopes.opn {
      background-image: none;
      background-color: #570008; }
    .sec#lina-lopes.opn:hover {
      background-image: none; }
    .sec#lina-lopes .men {
      background-image: url("../images/lina.jpg"); }

#instafeed {
  width: 90%;
  margin: auto;
  display: block; }
  #instafeed #more {
    width: 100%;
    display: block;
    float: left; }
  #instafeed .post {
    width: calc((100%/3) - 20px);
    float: left;
    display: block;
    position: relative;
    margin: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
    #instafeed .post img {
      width: 100%;
      display: block; }
    #instafeed .post figcaption {
      opacity: 0;
      transition: 0.5s;
      color: #000;
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      display: block;
      background-color: rgba(255, 255, 255, 0.5);
      padding: 10px; }
    #instafeed .post:hover figcaption {
      opacity: 1; }

.sec-m {
  position: absolute;
  height: 100vh;
  top: 0;
  width: 80%;
  right: 0;
  font-family: arial;
  overflow-Y: auto;
  display: none; }
  .sec-m .cont {
    width: 80%;
    margin: auto; }
    .sec-m .cont p {
      background-color: #000;
      color: #fff;
      padding: 10px;
      margin-top: 10px; }
  .sec-m .calen {
    width: 80%;
    margin: auto;
    margin-top: 20px; }
    .sec-m .calen iframe {
      border: 0;
      width: 50vw;
      height: 40vw;
      margin: auto; }
  .sec-m.atv {
    right: -100%;
    display: block;
    animation-name: top;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  .sec-m .bio {
    width: 300px;
    margin: 30px;
    float: left;
    transform: scale(0);
    transition: 0.1s; }
  .sec-m .text-box {
    margin: 30px;
    background-color: #000;
    padding: 20px;
    width: 100%;
    max-width: 50%;
    color: #fff;
    transform: scale(0);
    transition: 0.1s; }
    .sec-m .text-box h1 {
      font-family: Oswald;
      font-weight: lighter; }
  .sec-m.red .bio {
    transform: scale(1);
    transition: 0.1s; }
  .sec-m.red .text-box {
    transform: scale(1);
    transition: 0.1s; }
  .sec-m .title {
    font-family: Oswald;
    font-weight: lighter;
    clear: both;
    display: block;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    padding: 10px;
    width: 80%;
    margin: auto;
    padding-bottom: 5px; }
  .sec-m .proj {
    width: 90%;
    margin: auto;
    margin-top: 20px; }
    .sec-m .proj figure {
      border-radius: 5px;
      margin: 5px;
      width: calc(25% - 10px);
      float: left;
      background-color: #fff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      cursor: pointer;
      overflow: hidden;
      transition: 0.3s; }
      .sec-m .proj figure img {
        width: 100%; }
      .sec-m .proj figure p {
        width: 80%;
        margin: auto;
        padding-top: 10px;
        color: #101010;
        font-size: 14px;
        line-height: 1em;
        padding-bottom: 10px; }
      .sec-m .proj figure h3 {
        font-size: 20px;
        font-family: Oswald;
        font-weight: lighter;
        background-color: #fff;
        border-bottom: 2px solid #000;
        width: 80%;
        margin: auto;
        text-align: center; }
      .sec-m .proj figure:hover img {
        transition: 0.3s;
        width: 103%;
        margin-left: -0.5%; }

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-Y: auto;
  padding-bottom: 20px;
  display: none; }
  #modal.opn {
    display: block; }
  #modal #fechar {
    position: fixed;
    top: 10px;
    right: 20px;
    width: 80px;
    height: 80px;
    display: block;
    cursor: pointer; }
    #modal #fechar .closer {
      width: 3px;
      background-color: #fff;
      height: 80px;
      background-size: 0;
      left: 50%;
      position: absolute; }
      #modal #fechar .closer:nth-child(1) {
        transition: 0.5s;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        background-size: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
      #modal #fechar .closer:nth-child(2) {
        transition: 0.5s;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        background-size: 0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
    #modal #fechar:hover .closer:nth-child(1) {
      transition: 0.5s;
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      background-size: 0;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
    #modal #fechar:hover .closer:nth-child(2) {
      transition: 0.5s;
      transform: rotate(225deg);
      -webkit-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      -o-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      background-size: 0;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  #modal .mod {
    width: 100%;
    max-width: 940px;
    margin: auto;
    background-color: #fff;
    margin-top: 5px;
    border-radius: 2px;
    padding-bottom: 50px;
    margin-bottom: 5px;
    opacity: 0;
    display: none; }
    #modal .mod.atv {
      animation-name: other;
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
      -webkit-animation: other 0.3s;
      animation-fill-mode: forwards;
      display: block; }
    #modal .mod h1 {
      font-family: Oswald;
      font-weight: lighter;
      padding: 3px;
      padding-botom: 0px; }
    #modal .mod h2 {
      font-family: Oswald;
      font-weight: lighter;
      padding-left: 10px; }
    #modal .mod .abre {
      width: 100%;
      height: 25%;
      overflow: hidden;
      background-size: cover; }
    #modal .mod img {
      width: 90%;
      margin: auto; }
    #modal .mod .slider {
      width: 80%;
      margin: auto; }
      #modal .mod .slider img {
        width: 100%; }
    #modal .mod p {
      max-width: 620px;
      width: 90%;
      margin: auto;
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      font-family: arial; }

@-webkit-keyframes move {
  from {
    width: calc(100vw/3); }
  to {
    width: 20%; } }
@-webkit-keyframes top {
  from {
    right: -100%; }
  to {
    right: 0%; } }
@keyframes move {
  from {
    width: calc(100vw/3); }
  to {
    width: 20%; } }
@keyframes other {
  from {
    margin-top: 300px;
    opacity: 0; }
  to {
    margin-top: 5px;
    opacity: 1; } }
@keyframes others {
  from {
    bottom: 300px;
    opacity: 0; }
  to {
    bottom: 5px;
    opacity: 1; } }

/*# sourceMappingURL=main.css.map */
