*{
	margin:0;
	border:0;
	display:block;
	overflow:hidden;
}
title{
	display:none;
}
@import 'https://fonts.googleapis.com/css?family=Oswald:300';

span{
	float:left;
	font-weight:bold;
	margin-right:5px;
}
#container{
	width:100%;
	height:100vh;
	#sub{
		display:none;

		&.opn{
			animation-name:other;
				    -webkit-animation-delay: 0.5s;
				    animation-delay: 0.5s;

				     -webkit-animation: others 0.5s;
				     animation-fill-mode: forwards;
				     display: block;
		}
	}

	&.lilo{
		background-color:#570008;
		.men{

	    background-size: cover;
	    background-position: center center;
		width: 20%;
		height: 100vh;
		background-image: url("../images/lina.jpg");
		position:relative;
	    .cont{
	    	position: absolute;
	    	transform: translateY(-50%);
	    	top:30%;
	    	width: 100%;
	    	font-family: Oswald;
	    	color: #000;

	    	text-align: center;
	    	
	    	transition: 0.5s;

	    	h1{
	    		font-weight: lighter;
	    		    background-color: rgba(255, 255, 255, 0.8);
	    	}


	    	p{
	    		opacity: 0;
	    		transition: 0.5s;
	    		width: 80%;
	    		margin: auto;
	    		text-align: center;
	    	}

				    h4{
				    	    display: block;
	    				height: 3em;
					    line-height: 3em;
					    background-color:rgba(0,0,0,0.8);
					    margin-top: 5px;
					    font-size: 20px;
					    color: #Fff;
					    font-weight: lighter;
					    margin: 10px;
					    box-shadow: 0 0 5px rgba(0,0,0,0.5);
				    }

	    }
		}
	#social{
		width:50%;
		margin:auto;
		a{
			float: left;
			    float: left;
	    max-width: 50%;
	    text-align: center;
		}
		img{
			max-width: 80%;
			margin: auto;
			transition:0.5s;
			cursor: pointer;

			&:hover{
				transition:0.5s;
				max-width: 85%;
			}
		}

		}

}


.m-text-box{
	background-color:#75A5D8;
	max-width:20vw;
	float:left;
	padding:20px;
	margin:10px;
	min-height:200px;

	h2{
		margin-bottom: 10px;
		color:#1F5484;
		font-family:Oswald;
	}
}
	&.lilo-me{
.texts{
	max-width:90%;
	margin:auto;
}

iframe{
	width: 60%;
	height:30vw;
	margin:20px;
	float: left;
}
		.text-box{
color:#CF62A5;
margin:auto;
max-width:80%;
margin-top:20px;
background-color:rgba(0,0,0,0);
font-size:18px;

		}
		background-color:#f4f5fd;
		.title{
			color: #000;
			border-bottom: 2px solid #000;
		}
		.men{

	    background-size: cover;
	    background-position: center center;
		width: 20%;
		height: 100vh;
		background-image: url("../images/me.jpg");
		position:relative;
	    .cont{
	    	position: absolute;
	    	transform: translateY(-50%);
	    	top:30%;
	    	width: 100%;
	    	font-family: Oswald;
	    	color: #000;

	    	text-align: center;
	    	
	    	transition: 0.5s;

	    	h1{
	    		font-weight: lighter;
	    		    background-color: rgba(255, 255, 255, 0.8);
	    	}


	    	p{
	    		opacity: 0;
	    		transition: 0.5s;
	    		width: 80%;
	    		margin: auto;
	    		text-align: center;
	    	}

				    h4{
				    	    display: block;
	    				height: 3em;
					    line-height: 3em;
					    background-color:rgba(221,165,203,0.8);
					    margin-top: 5px;
					    font-size: 20px;
					    color: #000;
					    font-weight: lighter;
					    margin: 10px;
					    box-shadow: 0 0 5px rgba(0,0,0,0.5);
				    }

	    }
		}
	#social{
		width:50%;
		margin:auto;
		a{
			float: left;
			    float: left;
	    max-width: 50%;
	    text-align: center;
		}
		img{
			max-width: 80%;
			margin: auto;
			transition:0.5s;
			cursor: pointer;

			&:hover{
				transition:0.5s;
				max-width: 85%;
			}
		}

		}

}

}
canvas{
		display:none;
	width:100%;
	height:100vh;
}
.sec{
	height: 100%;
	width: calc(100%/3);
	float: left;
	background-size: cover;
    background-position: center center;
    position: relative;
    display: block;
	transition:0.5s;

        &.opn{
		width:100%;
		height:100vh;
        transition:0.5s;
        background-image:0;
		z-index: 99;
        	.men{
				height: 100vh;
				width: calc(100vw/3);
				float: left;
				background-size: cover;
			    background-position: center center;
			    position: relative;
			    display: block;
			    position: fixed;
			    top:0;
			    left: 0;
			    box-shadow:0 0 20px rgba(0,0,0,0.5);

			    -webkit-animation-delay: 0.5s; 
			    animation-delay: 0.5s;

			     -webkit-animation: move 0.5s ; 

			     animation-fill-mode: forwards;
			    .cont{
			    	display: block;
			    	top: 30%;

			    	p{
			    		display: none;


			    	}

			    }



        	}
        	.cont{
			display:none;
        	}

        }

    .cont{
    	position: absolute;
    	transform: translateY(-50%);
    	top:50%;
    	width: 100%;
    	font-family: Oswald;
    	color: #000;
    	background-color: rgba(255,255,255,0.8);
    	text-align: center;
    	height:3em;
    	transition: 0.5s;

    	h1{
    		font-weight: lighter;
    	}


    	p{
    		opacity: 0;
    		transition: 0.5s;
    		width: 80%;
    		margin: auto;
    		text-align: center;
    	}



    }

     &:hover .cont{
     	transition: 0.5s;
    	height:8em;

    }


     &:hover  .cont p{
     	opacity:1;

    }
    	&.opn:hover .cont{
     	transition: 0.5s;
    	height:3em;

    }


	&#lilo-me{

		background-image: url("../images/me.jpg");

		&:hover{
			background-image: url("../images/me.gif");
		}
			&.opn{
				background-image: none;
				background-color:#f4f5fd;
			}
			&.opn:hover{
				background-image: none;
			}
	        .men{
				background-image: url("../images/me.jpg");
	        }

	}




		&#lilo-kids{
			background-image: url("../images/kids.jpg");

			&:hover{
				background-image: url("../images/kids.gif");
			}

						&.opn{
				background-image: none;
				background-color:#fff;
			}
			&.opn:hover{
				background-image: none;
			}
	        .men{
				background-image: url("../images/kids.jpg");
	        }

		

		}


		&#lina-lopes{
			background-image: url("../images/lina.jpg");

			&:hover{
				background-image: url("../images/lina.gif");
			}

			&.opn{
				background-image: none;
				background-color:#570008;
			}
			&.opn:hover{
				background-image: none;
			}
	        .men{
				background-image: url("../images/lina.jpg");
	        }

		}

}
#instafeed{
	width:90%;
	margin:auto;
	display:block;
#more{
	width:100%;
	display:block;
	float:left;
}

	.post{
		width: calc((100%/3) - 20px);
		float: left;
		display:block;
		position: relative;
		margin: 10px;
		box-shadow:0 0 20px rgba(0,0,0,0.5);
		img{
			
			width: 100%;
			display:block;

		}



		figcaption{
			opacity: 0;
			transition:0.5s;
			color: #000;
			position: absolute;
			bottom:0;
			left: 0;
			display:block;
			display:block;
			background-color: rgba(255,255,255,0.5);
			padding: 10px;
		}
		&:hover{

		figcaption{
			opacity: 1;
		} 
	}

	}
}


.sec-m{
	position: absolute;
	height:100vh;
	top:0;
	width:80%;
	right:0;
	font-family:arial;
	overflow-Y:auto;
	display:none;

	.cont{
		width:80%;
		margin:auto;

		p{
			background-color:#000;
			color: #fff;
			padding:10px;
			margin-top: 10px;
		}
	}

	.calen{

		    width: 80%;
    margin: auto;
    margin-top: 20px;
    iframe{
    	    border: 0;
    width: 50vw;
    height: 40vw;
    margin: auto;
    }
	}

&.atv{
	right: -100%;
display:block;
		animation-name:top;
			    -webkit-animation-delay: 0.3s;
			    animation-delay: 0.3s;
			    animation-duration: 0.5s;	
	animation-fill-mode: forwards;  


}

		.bio{
			width: 300px;
			margin: 30px;
			float:left;
			transform:scale(0);	
			transition:0.1s;
		}
	.text-box{
			margin: 30px;
		background-color: #000;
		padding:20px;
		width: 100%;
		max-width: 50%;
		color: #fff;
			transform:scale(0);	
			transition:0.1s;		
		h1{
			font-family: Oswald;
			font-weight: lighter;
		}

	}

	&.red{

				.bio{
					transform:scale(1);	
					transition:0.1s;	

		}

		.text-box{
								transform:scale(1);	
					transition:0.1s;	
		}

	}
	.title{
		font-family: Oswald;
		font-weight: lighter;
		clear: both;
		display: block;
		color:#fff;
		font-size: 40px;
		text-transform: uppercase;
		border-bottom: 2px solid #fff;
		padding:10px;
		width: 80%;
		margin: auto;
		padding-bottom:5px;
	}

	.proj{
		width: 90%;
		margin: auto;
		margin-top: 20px;
		figure{
		
			border-radius:5px;
			margin: 5px;
			width: calc(25% - 10px);
			float: left;
			background-color: #fff;
			box-shadow:0px 0px 10px rgba(0,0,0,0.5);
			cursor: pointer;
			overflow:hidden;
			transition: 0.3s;
			img{
				width: 100%;
			}
			p{
				width: 80%;
				margin: auto;
				padding-top:10px;
				color: #101010;
				font-size: 14px;
				line-height: 1em;
				padding-bottom:10px;

			}
			h3{
			
				font-size: 20px;
			font-family: Oswald;
			font-weight: lighter;
			background-color:#fff;
			border-bottom: 2px solid #000;
			width: 80%;
			margin:auto;
			text-align: center;
			}

			&:hover{
				img{
					transition: 0.3s;
					width: 103%;
					margin-left: -0.5%;
				}
			}
		}
	}
}



#modal{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	background-color:rgba(0,0,0,0.5);
	overflow-Y:auto;
padding-bottom:20px;
display:none;

&.opn{
display:block;
}

#fechar{
	    position: fixed;
    top: 10px;
    right: 20px;
    width: 80px;
    height: 80px;
  display: block;
    cursor: pointer;
.closer {

    width: 3px;
    background-color: #fff;
    height: 80px;
    background-size: 0;
  
    left: 50%;
    position: absolute;
    &:nth-child(1) {
    	transition: 0.5s;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    background-size: 0;
    box-shadow:0 0 5px rgba(0,0,0,0.5);
	}

	&:nth-child(2) {
		transition: 0.5s;
	    transform: rotate(135deg);
	    -webkit-transform: rotate(135deg);
	    -moz-transform: rotate(135deg);
	    -o-transform: rotate(135deg);
	    -ms-transform: rotate(135deg);
	    background-size: 0;
	    box-shadow:0 0 5px rgba(0,0,0,0.5);


	}


}

	&:hover{
		.closer{

    &:nth-child(1) {
    	transition: 0.5s;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
    background-size: 0;
    box-shadow:0 0 5px rgba(0,0,0,0.5);
	}

	&:nth-child(2) {
		transition: 0.5s;
	    transform: rotate(225deg);
	    -webkit-transform: rotate(225deg);
	    -moz-transform: rotate(225deg);
	    -o-transform: rotate(225deg);
	    -ms-transform: rotate(225deg);
	    background-size: 0;
	    box-shadow:0 0 5px rgba(0,0,0,0.5);


	}

		}
	}

}



	.mod{
		width: 100%;
		max-width: 940px;
	
		margin: auto;
		background-color:#fff;
		margin-top: 5px;
		border-radius: 2px;
		padding-bottom:50px;
		margin-bottom:5px;
		opacity:0;
		display: none;

&.atv{
		animation-name:other;
			    -webkit-animation-delay: 0.3s;
			    animation-delay: 0.3s;

			     -webkit-animation: other 0.3s;
			     animation-fill-mode: forwards;
			     display: block;
}

		h1{
			font-family: Oswald;
			font-weight: lighter;
			padding:3px;
			padding-botom:0px;
		}
		h2{
			font-family: Oswald;
			font-weight: lighter;
		
			padding-left: 10px;				
		}
		.abre{
			width: 100%;
			height: 25%;
			overflow:hidden;
			background-size:cover;
		}

		img{
			width: 90%;
			margin: auto;
		}
		.slider{
			width: 80%;
			margin: auto;
			img{
				width: 100%;
			}
		}
		p{
			max-width: 620px;
			width: 90%;
			margin:auto;
			display:block;
			padding-top:10px;
			padding-bottom:10px;
			font-family: arial;		
		}
	}
}
@-webkit-keyframes move {
    from {width: calc(100vw/3);}
    to {width: 20%;}
}
@-webkit-keyframes top {
    from {right: -100%;}
    to {right: 0%;}
}
@keyframes move {
    from {width: calc(100vw/3);}
    to {width: 20%;}
}

@keyframes other {
    from {margin-top:300px;opacity:0;}
    to {margin-top:5px;opacity:1}
}


@keyframes others {
    from {bottom:300px;opacity:0;}
    to {bottom:5px;opacity:1}
}

